li {font-style:italic;}
    }

    li {margin-left: 10px;}

    div {padding: 25px}

    div {border-style: dotted;}
    div {border-color: crimson;}

    img {border-radius: 50px}

    h1 {font-style:inherit}

    div {box-shadow: rgb(56, 14, 207);}

    div {background:rgb(0, 224, 0)}
